extends layout

block content
    div.registerpage
        div.register            
            div.container
                    div.row
                        div.col-md-3
                        div.col-md-6
                            h1 Sign Up

                            form(method='POST' style="border:2px solid gray;padding:10px" action='/auth/register')
                                #form-group
                                    label First Name:
                                    input.form-control(name='fname',type='text')

                                #form-group
                                    label Last Name:
                                    input.form-control(name='lname',type='text')

                                #form-group
                                    label Email:
                                    input.form-control(name='email',type='text')
                                
                                #form-group
                                    label Password:
                                    input.form-control(name='password',type='password')    

                                #form-group
                                    label Confirm Password:
                                    input.form-control(name='password2',type='password')    
                                br
                                input.btn.btn-primary(type='submit',value='Submit')
                        div.col-md-3        